body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 120px;
  width : 100%;
  background-color: #f5f5f5;
  bottom: 0;
  position: fixed;
}

.navbar-brand {
  font-family: 'Creepster' !important;
}
.navbar-brand:hover {
  color: red !important;
}

.navbar-default {
  background-color: rgba(211,211,211,.5)
}
.navbar-default .navbar-brand {
  font-size: 50px;
  color: blue;
}

.panel-ideas {
  height: 400px;
  overflow: auto;
}

@media only screen and (max-width: 480px) {
  .panel-ideas {
    height: auto;
  }
}